@using bejebeje.admin.Application.Common.Models
@model bejebeje.admin.Application.Common.Models.PaginatedList<bejebeje.admin.Application.Artists.Queries.GetArtists.ArtistDto>

@{
    ViewData["Title"] = "List of artists";
}

<div class="flex justify-between items-center mb-8">
    <h1 class="text-5xl">Artists</h1>
    
    <div>
        <a asp-controller="artists" asp-action="create" class="bg-indigo-600 px-4 py-2 rounded-md">Add new artist</a>
    </div>
</div>

<div class="bg-slate-800 rounded-md mb-5 p-8">
    <ul class="flex items-center mb-6 border-slate-400 border-b-2">
        @await Html.PartialAsync("_ActiveTab", new ActiveTab("artists", "all", "All Artists"))
        
        @await Html.PartialAsync("_ActiveTab", new ActiveTab("artists", "unapproved", "Unapproved"))
        
        @await Html.PartialAsync("_ActiveTab", new ActiveTab("artists", "duplicates", "Duplicates"))
        
        @await Html.PartialAsync("_ActiveTab", new ActiveTab("artists", "deleted", "Deleted"))
    </ul>
    
    <form action="">
        <input class="bg-slate-900 px-4 py-2 mb-6 w-1/2 rounded-md" type="text" name="searchTerm" placeholder="Artist name or alias">
    </form>
    
    <table class="w-full">
        <thead class="bg-slate-900 rounded-md">
        <tr class="">
            <th class="text-sm text-left rounded-tl-md rounded-bl-md py-2 px-4">Artist Id</th>
            <th class="text-sm text-left py-2 px-4">Name</th>
            <th class="text-sm text-left py-2 px-4">Created at</th>
            <th class="text-sm text-left py-2 px-4">Modified at</th>
            <th class="text-sm text-left rounded-tr-md rounded-br-md py-2 px-4 w-4">Approved</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="border-b border-slate-600 last:border-0">
                <td class="py-4 px-4">@item.Id</td>
                <td class="py-4 px-4 flex items-center">
                    <picture>
                        <source type="image/webp" srcset=@($"{item.ImageUrl}.webp")>
                        <source type="image/jpeg" srcset=@($"{item.ImageUrl}.jpg")>

                        <img src=@($"{item.ImageUrl}.jpg")
                             class="border-1 mr-4 border-slate-800 rounded-full w-10 h-10"
                             loading="lazy"
                             alt="@item.ImageAlternateText"/>
                    </picture>
                    @item.FirstName @item.LastName
                </td>
                <td class="py-4 px-4">@item.CreatedAt</td>
                <td class="py-4 px-4">
                    @if (item.ModifiedAt != null)
                    {
                        @item.ModifiedAt
                    }
                </td>
                <td class="py-4 px-4">@await Html.PartialAsync("_ApprovalStatusPartial", item.IsApproved)</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="flex justify-between">
    <div class="">
        <p>Page @Model.PageNumber of @Model.TotalPages (@Model.TotalCount total records)</p>
    </div>

    <div>
        <a class="text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 @(Model.HasPreviousPage ? "" : "pointer-events-none")" asp-controller="Artists" asp-action="All" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
        <a class="text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 ml-3 @(Model.HasNextPage ? "" : "pointer-events-none")" asp-controller="Artists" asp-action="All" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
    </div>
</div>