@model bejebeje.admin.Application.Artists.Queries.GetArtist.ArtistDto

@{
    ViewData["Title"] = $"Details of {@Model.FirstName} {@Model.LastName}";
}

<div class="mb-8">
    <h1 class="text-5xl">Artist details</h1>
</div>

<div class="bg-slate-800 rounded-md mb-5 p-8">
    <div class="bg-slate-900 rounded-md p-10 flex items-center mb-8">
        <picture>
            <source type="image/webp" srcset=@($"{Model.ImageUrl}.webp")>
            <source type="image/jpeg" srcset=@($"{Model.ImageUrl}.jpg")>

            <img src=@($"{Model.ImageUrl}.jpg")
                 class="border-1 mr-4 border-slate-800 rounded-full w-40 h-40"
                 loading="lazy"
                 alt="@Model.ImageAlternateText"/>
        </picture>

        <div>
            <h2 class="text-2xl">
                @Model.FirstName @Model.LastName
            </h2>
        </div>
    </div>

    <div class="flex gap-2">
        <a class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer" asp-controller="Artists" asp-action="Update" asp-route-artistId="@Model.Id">Update artist</a>
        
        @if (Model.IsApproved)
        {
            <form asp-controller="Artists" asp-action="Unapprove" method="post">
                <input name="ArtistId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Unapprove artist</button>
            </form>
        }
        else
        {
            <form asp-controller="Artists" asp-action="Approve" method="post">
                <input name="ArtistId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Approve artist</button>
            </form>
        }

        @if (Model.IsDeleted)
        {
            <form asp-controller="Artists" asp-action="Undelete" method="post">
                <input name="ArtistId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Undelete artist</button>
            </form>
        }
        else
        {
            <form asp-controller="Artists" asp-action="Delete" method="post">
                <input name="ArtistId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Delete artist</button>
            </form>
        }

        <a class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer" asp-controller="Lyrics" asp-action="Create" asp-route-artistId="@Model.Id">Add new lyric</a>

        <a class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer" asp-controller="Lyrics" asp-action="ByArtist" asp-route-artistId="@Model.Id">View @Model.LyricsCount Lyrics</a>

        <a class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer" asp-controller="Artists" asp-action="Slugs" asp-route-artistId="@Model.Id">View @Model.SlugsCount slugs</a>
    </div>
</div>