@model bejebeje.admin.Application.Common.Models.PaginatedList<bejebeje.admin.Application.Artists.Queries.GetArtists.ArtistDto>

@{
    ViewData["Title"] = "List of artists";
}

<div class="mb-8">
    <h1 class="text-5xl">Artists</h1>
</div>

<div class="grid grid-cols-2 gap-4 bg-slate-800 rounded-md mb-5 p-4">
    @foreach (var item in Model.Items)
    {
        <div class="bg-slate-900 flex p-3 rounded-md">
            <div class="">
                <picture>
                    <source type="image/webp" srcset=@($"{item.ImageUrl}.webp")>
                    <source type="image/jpeg" srcset=@($"{item.ImageUrl}.jpg")>

                    <img src=@($"{item.ImageUrl}.jpg")
                         width="80"
                         height="80"
                         class="border-2 border-slate-800 rounded-md"
                         loading="lazy"
                         alt="@item.ImageAlternateText"/>
                </picture>
            </div>

            <div class="flex items-center justify-between w-full ml-4">
                <h3>@item.FirstName @item.LastName</h3>
                @await Html.PartialAsync("_ApprovalStatusPartial", item.IsApproved)
            </div>
        </div>
    }
</div>

<div class="flex justify-between">
    <div class="">
        <p>Page @Model.PageNumber of @Model.TotalPages</p>
    </div>

    <div>
        <a class="text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 @(Model.HasPreviousPage ? "" : "pointer-events-none")" asp-controller="Artists" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)">Previous</a>
        <a class="text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 ml-3 @(Model.HasNextPage ? "" : "pointer-events-none")" asp-controller="Artists" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)">Next</a>
    </div>
</div>