@using bejebeje.admin.Application.Common.Extensions
@model bejebeje.admin.Application.Common.Models.PaginatedList<bejebeje.admin.Application.Artists.Queries.GetArtists.ArtistDto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "List of artists";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Is approved?</th>
        <th scope="col">Is deleted?</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                <picture>
                  <source type="image/webp" srcset=@($"{item.ImageUrl}.webp")>
                  <source type="image/jpeg" srcset=@($"{item.ImageUrl}.jpg")>

                  <img src=@($"{item.ImageUrl}.jpg")
                       width="80"
                       height="80"
                       class="rounded-md"
                       loading="lazy"
                       alt="@item.ImageAlternateText" />
                </picture>
            </td>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.IsApproved.ToYesOrNo()</td>
            <td>@item.IsDeleted.ToYesOrNo()</td>
        </tr>
    }
    </tbody>
</table>