@model bejebeje.admin.Application.Lyrics.Queries.GetLyricDetail.GetLyricDetailDto

@{
    ViewData["Title"] = $"{Model.Title} lyrics by {Model.Artist.FirstName} {Model.Artist.LastName}";
}

<div class="bg-slate-800 rounded-md mb-5 p-8">
    <a asp-controller="Lyrics" asp-action="ByArtist" asp-route-artistId="@Model.Artist.Id" class="bg-slate-900 rounded-md p-10 flex items-center mb-8">
        <picture>
            <source type="image/webp" srcset=@($"{Model.Artist.ImageUrl}.webp")>
            <source type="image/jpeg" srcset=@($"{Model.Artist.ImageUrl}.jpg")>

            <img src=@($"{Model.Artist.ImageUrl}.jpg")
                 class="border-1 mr-4 border-slate-800 rounded-full w-40 h-40"
                 loading="lazy"
                 alt="@Model.Artist.ImageAlternateText"/>
        </picture>

        <div>
            <h2 class="text-2xl">
                @Model.Artist.FirstName @Model.Artist.LastName
            </h2>
        </div>
    </a>

    <p class="whitespace-pre-wrap mb-8">@Model.Body</p>

    <div class="flex gap-2">
        @if (Model.IsDeleted)
        {
            <form asp-controller="Lyrics" asp-action="Undelete" method="post">
                <input name="LyricId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Undelete lyric</button>
            </form>
        }
        else
        {
            <form asp-controller="Lyrics" asp-action="Delete" method="post">
                <input name="LyricId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Delete lyric</button>
            </form>
        }

        @if (Model.IsApproved)
        {
            <form asp-controller="Lyrics" asp-action="Unapprove" method="post">
                <input name="LyricId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Unapprove lyric</button>
            </form>
        }
        else
        {
            <form asp-controller="Lyrics" asp-action="Approve" method="post">
                <input name="LyricId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Approve lyric</button>
            </form>
        }

        @if (Model.IsVerified)
        {
            <form asp-controller="Lyrics" asp-action="Unverify" method="post">
                <input name="LyricId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Mark lyric as unverified</button>
            </form>
        }
        else
        {
            <form asp-controller="Lyrics" asp-action="Verify" method="post">
                <input name="LyricId" type="hidden" value="@Model.Id"/>
                <button type="submit" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Mark lyric as verified</button>
            </form>
        }

        <a asp-controller="Lyrics" asp-action="Update" asp-route-lyricId="@Model.Id" class="inline-block text-white border-2 border-slate-500 rounded-md py-1 px-2 hover:bg-slate-700 cursor-pointer">Update lyric</a>
    </div>
</div>